
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAgiosCaseLabel">Create or edit a Agios Case</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.agiosCase.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.agiosCase.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_caseNr">Case Nr</label>
            <input type="number" class="form-control" name="caseNr" id="field_caseNr"
                    ng-model="vm.agiosCase.caseNr"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_caseNo">Case No</label>
            <input type="text" class="form-control" name="caseNo" id="field_caseNo"
                    ng-model="vm.agiosCase.caseNo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_personNr">Person Nr</label>
            <input type="text" class="form-control" name="personNr" id="field_personNr"
                    ng-model="vm.agiosCase.personNr"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_companyNr">Company Nr</label>
            <input type="text" class="form-control" name="companyNr" id="field_companyNr"
                    ng-model="vm.agiosCase.companyNr"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_agiosNodeName">Agios Node Name</label>
            <input type="text" class="form-control" name="agiosNodeName" id="field_agiosNodeName"
                    ng-model="vm.agiosCase.agiosNodeName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_workflowUid">Workflow Uid</label>
            <input type="text" class="form-control" name="workflowUid" id="field_workflowUid"
                    ng-model="vm.agiosCase.workflowUid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_reasons">Reasons</label>
            <input type="text" class="form-control" name="reasons" id="field_reasons"
                    ng-model="vm.agiosCase.reasons"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_statusUid">Status Uid</label>
            <input type="text" class="form-control" name="statusUid" id="field_statusUid"
                    ng-model="vm.agiosCase.statusUid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_currentStepUid">Current Step Uid</label>
            <input type="text" class="form-control" name="currentStepUid" id="field_currentStepUid"
                    ng-model="vm.agiosCase.currentStepUid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codeName">Code Name</label>
            <input type="text" class="form-control" name="codeName" id="field_codeName"
                    ng-model="vm.agiosCase.codeName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_evtOpen">Evt Open</label>
            <input type="text" class="form-control" name="evtOpen" id="field_evtOpen"
                    ng-model="vm.agiosCase.evtOpen"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_displayName">Display Name</label>
            <input type="text" class="form-control" name="displayName" id="field_displayName"
                    ng-model="vm.agiosCase.displayName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_evtclose">Evtclose</label>
            <input type="text" class="form-control" name="evtclose" id="field_evtclose"
                    ng-model="vm.agiosCase.evtclose"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_agiosEntity">Agios Entity</label>
            <input type="text" class="form-control" name="agiosEntity" id="field_agiosEntity"
                    ng-model="vm.agiosCase.agiosEntity"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
